* {
  box-sizing: border-box;
}

html {
  background-color: #f8f9fa;
}

#nav {
  background-color: white;
  flex-wrap: inherit;
  z-index: 3;
}

#navbar {
  top: 0;
  position: fixed;
}

#navbarNav {
    margin-left: 30rem;
}

.navbar-brand {
  padding-left: 20rem;
}

.nav-item {
  padding-left: 4rem;
}

#features {
  padding-left: 3rem;
}

#download {
  padding-left: 3rem;
}
.masthead {
  background-color: #f8f9fa;
}

#masthead-div {
  margin-top: 12.5rem;
  margin-bottom: 9.5rem;
}

.app-badge {
  margin: 2rem;
  z-index: 1;
}

#header-h1 {
  font-size: 4.5rem;
  font-weight: 2.2;
}

#header-p {
  color: #717c7d;
  font-size: 1.2rem;
}

#aside {
  background: linear-gradient(45deg, #2937f0, #9f1ae2);
  color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#aside-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#aside-h2 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.section-1-icons i {
  font-size: 4rem;
}

.section-1-img {
  margin-left: 10rem;
}

.section-1-col-2 {
  margin-right: 9rem;
}

#features {
  margin-bottom: 5rem;
}

#section-2-h2 {
  font-size: 3rem;
  font-weight: 250;
}

#section-2-p {
  color: #717c7d;
  font-size: 1.5rem;
  font-weight: 400;
}

#section-2 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.cta {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

#section-cta-h2 {
  padding-top: 3px;
  font-size: 5rem;
  font-weight: 200;
}

#footer-p {
  color: grey;
}

.modal-header {
  background: linear-gradient(45deg, #2937f0, #9f1ae2);
  color: white;
}

#features-circle {
  fill: purple;
  z-index: -1;
}

.circle-top {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 10px;
  left: 15rem;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 16%;
  right: 290px;
  z-index: -1;
}

#phone-1 {
  margin-left: 24rem;
  position: relative;
  z-index: 1;
}

#phone-1-div {
  z-index: 1;
}

#circle-1-div {
  z-index: 0;
  position: absolute;
}

#phone-2-div {
  position: relative;
  z-index: 1;
}

#phone-2 {
  position: relative;
  z-index: 2;
}

#circle-2-div {
  position: absolute;
  z-index: 0;
  margin-left: 12rem;
}

#header-div-1 {
  position: relative;
}
