@use "../../sass/variables.scss" as v;


.row .navbartext-2-div {
    padding-left: 25rem;
    display: flex;

}


.navbar-text-2-1 {
    text-decoration: none;
    color: white;  
}

.navbar-text-2-2 {
    text-decoration: none;
    color: v.$nav-text-color;
}



