@use '../abstracts/variables' as v;

.plus {
    color: #33b473;
    font-weight: 700;
}

.minus {
    color: red;
    font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.line {
    text-align: left;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.line-cell {
    padding-top: 10px;
    padding-bottom: 10px;
}

.chart-div {
    display: flex;
    justify-content: space-between;
}

.vertical-line {
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 3rem;
}

.vertical-line-div-1 {
    border-left: 1px solid #3181f5;
    margin-left: 1.3rem;
}

.vertical-line-div-2 {
    border-left: 1px solid #3181f5;
    margin-left: 3.5rem;
}

.chart-more {
    color: v.$button-color;
}


.chart1 {
    width: 100%;
    height: 100%;
}

#chart {
    justify-content: center;
    width: auto;
    height: auto;
}

@media (min-width: 992px) {
    #chart {
        display: flex;
    }
}

.chart-th {
    color: v.$p-color;
    font-weight: 470;
}