@forward 'advanced-trading-tools';
@forward 'buy';
@forward 'chart';
@forward 'credit-card';
@forward 'crypto-web-app';
@forward 'footer';
@forward 'header';
@forward 'partners';
@forward 'questions';
@forward 'security';
@forward 'sign-up-fund';
