@use '../abstracts/variables' as v;

#security {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.security-p-1 {
    font-weight: 500;
    padding-top: 1.3rem;
}

.security-p-2 {
    color: v.$p-color;
}

.security-text-underline {
    text-decoration: underline;
}

#security-box-img {
    position: relative;
    bottom: 135px;
}

@media (max-width: 992px) {
    #security {
        display: flex;
        text-align: center;
    }
}