@use "../../sass/variables.scss" as v;


.row .navbartext-2-div {
    padding-left: 36rem;
    display: flex;
    padding-top: 0.3rem;
}


.navbar-text-2-1 {
    text-decoration: none;
    color: white;  
}

.navbar-text-2-2 {
    text-decoration: none;
    color: white;
}



