#start-bootstrap {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 22%;
}

#mainNav {
    height: 6rem;
    padding-left: 10px;
    background-color: #2d3e50;
}

#nav-list {
    align-items: center;
    margin-right: 19rem;
}

.nav-list-item {
    text-decoration: none;
    color: white;
}

#img-avatars {
    height: 240px;
    width: 254.52px;
}

#header-div {
    padding-top: 200px ;
    padding-bottom: 100px;
    background-color: #1bbc9b;
    color: white;
}

#header-p {
    font-size: 1.5rem;
}

#header-header {
    font-size: 4rem;
}

.portfolio-img {
    height: 288.88px;
    width: 400px;
    margin-bottom: 30px;
}

#portfolio {
    margin-top: 100px;
}

#portfolio-h2 {
    font-size: 3rem;
    padding: 20px;
}

#about-h2 {
    font-size: 3.2rem;
}

#about-div-1 {
    margin-left: 150px;
    font-size: 20px;
}

#about-div-2 {
    margin-right: 220px;
    font-size: 20px;
}

#about {
    background-color: #1bbc9b;
    color: white;
    padding: 96px;
}

#free-download-button {
    padding: 23px;
}

#footer {
    padding: 80px;
    background-color: #2d3e50;
    color: white; 
}

.footer-p {
    font-size: 1.2rem;
}

#name {
    text-align: center;
    background-color: #1b252f;
    color: white;
    padding: 10px;
}

#start-bootstrap-link {
    color: #1bbc9b;
}